* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  margin-bottom: 300px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
}

.nav__logo {
  font-size: 40px;
}

.nav__menu {
  font-size: 20px;
  font-family: "Slabo 13px", serif;
}

.nav__menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu--item:not(:last-child) {
  margin-right: 135px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 155px;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.content__title h1 {
  font-size: 64px;
  font-weight: 500;
  width: 647px;
  line-height: 83px;
}

.content__title p {
  font-size: 20px;
  max-width: 647px;
  margin: 80px 0 63px 0;
  line-height: 30px;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-size: 32px;
  line-height: 39px;
  font-family: "Slabo 13px", serif;
  background: #B2AE7F;
  border-radius: 5px;
  padding: 17px 27px 16px 22px;
  display: block;
  text-align: center;
}

.secont__btn {
  font-size: 20px;
  margin-left: 54px;
}

@media (max-width: 1400px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .content__title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}

.content_0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_0 img {
  max-width: 900px;
  max-height: 528px;
}

.content_0 h3 {
  font-family: "Slabo 13px", serif;
  font-size: 32px;
  text-align: right;
  width: 407px;
  margin-right: 114px;
}

.content_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.content_1 img {
  max-width: 900px;
  max-height: 528px;
}

.content_1 h3 {
  margin-left: 114px;
  margin-right: 0;
  font-family: "Slabo 13px", serif;
  font-size: 32px;
  text-align: right;
  width: 407px;
}

@media (max-width: 1802px) {
  .content_0 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_0 h3 {
    margin-bottom: 50px;
  }
  .content_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__item {
  background: #CCC9A3;
  margin: 15px 15px;
}

.product__item p:first-child {
  font-weight: 500;
  font-size: 24px;
}

.product__item p:last-child {
  font-family: "Slabo 13px", serif;
  font-size: 20px;
  margin: 17px 0 30px 0;
}

.product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
}

.product__title span {
  font-size: 13px;
}

.product__title, .product__desc {
  padding: 0 10px;
}

.product__titles {
  text-align: center;
}

.product__titles h2 {
  font-size: 40px;
}

.product__titles P {
  font-size: 24px;
}

body {
  background: #F4F2DD;
  font-family: "Kodchasan", sans-serif;
  color: #000000;
}

a {
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1684px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.line {
  width: 100%;
  height: 1px;
  background: #000;
  display: block;
  margin: 12px 0;
}

.bg-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

.bg__img::before {
  content: attr(data-foo) " ";
  display: block;
  background: rgba(178, 174, 127, 0.4);
  border-radius: 5px;
  width: 235.58px;
  height: 231.43px;
  position: absolute;
  -webkit-transform: translate(65%, 150%);
          transform: translate(65%, 150%);
}

@media (max-width: 1802px) {
  .bg-images {
    display: none;
  }
}

.blog__title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 10px;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px 75px;
  border: 1px black solid;
  margin-bottom: 30px;
}

.blog__content--img {
  margin-right: 78px;
}

.blog__content--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__content--title p {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  width: 352px;
}

.footer {
  background: #B2AE7F;
  height: 100vh;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__first {
  margin-top: 150px;
}

.footer__first h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.footer__first p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  width: 294px;
  margin: 59px 0 300px 0;
}

.footer__first span {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.footer__second {
  text-align: center;
  margin-top: 150px;
  width: 505px;
}

.footer__second span {
  font-weight: 275;
  font-size: 32px;
  line-height: 42px;
}

.footer__second--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__second--item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__second--item {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
