@import "./common/_index.scss";
@import "./components/_index.scss";

body {
	background: $primary-bg;
	font-family: $font-Kodchasan;
	color: $primary-color;
}
a {
	color: $primary-color;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1684px;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.line{
	width: 100%;
	height: 1px;
	background: #000;
	display: block;
	margin: 12px 0;
}